body {
  background-image: url(./images/bg-hero-desktop.svg);
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

}

h1 {
  font-size: 2.3rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2, h3, h4, p {
  font-family: 'Montserrat', sans-serif;
}


/* HEADER */

.head1 {
  padding: 2% 2%;
}

.logo {
  width: 250px;
  padding-bottom: 5px;
  
}

/*BUTTONS HEADER*/

.button1 {
  float: right;
  color: black;
  background-color:white;
  width: 160px;
  height:30px;
  font-size:16px;
  font-weight:bold;
  padding-top:12px;
  text-align:center;
  border-radius:20px;
  text-decoration:none;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  background-color: #353535;
  color: white;
}


/*BIG HEADER*/


.big-header {
padding-left:5%;
}

.big-header1 {
  
  float:left;
  width: 40%;


}

.button2 {
  color: white;
  background-color:#f270f4;
  border: none;
  width: 200px;
  height:28px;
  display: inline-block;
  font-size:13px;
  font-weight:bold;
  padding-top:12px;
  text-align:center;
  border-radius:20px;
  text-decoration:none;
  -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 


.button2:hover {
  background-color: #fff;
  color: #000;
 
}


.big-header2 {
  float:left;
  width: 60%;
  
}

.bigheader-img {
  position: relative;
    width: 70%;
    left: 20%;
}


/*CARDS*/


.box1 {
  float: left;
    width: 70%;
    padding: 2% 6%;
    margin-top:5%;
    margin-left:8%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.box2 {
float: left;
    width: 70%;
    padding: 2% 6%;
    margin-top:5%;
    margin-left:8%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.box3 {
    z-index: -1;
    float: left;
    width: 70%;
    padding: 2% 6%;
    margin-top:5%;
    margin-left:8%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.card1-one {
  float: left;
  width: 50%;
}

.card1-two {
  float: right;
  width: 40%;

}


.grow{
  width: 70%;
  float: right;

}

.card2-one {
  float: right;
  width: 50%;
}

.card2-two {
  float: left;
  width: 40%;
}

.flow {
  width: 70%;
  float: left;
}


.card3-one {
  float: left;
  width: 50%;
}

.card3-two {
  float: right;
  width: 40%;
}

.your {
  width: 70%;
  float: right;
}



.big-box {
  top: 135px;
  position: relative;
  width: 50%;
  margin: 0 20%;
    float: left;
    padding: 5% 5%;
    text-align: center;

    border-radius:20px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.footer {
    font-family: 'Montserrat', sans-serif;
    padding: 13% 5% 5% 5%;
    margin-top: 5%;
    width: 90%;
    background-color: #092c33;
    float:left;
}

.footer-logo {
  padding: 0 0 3% 3%;
}

.icon-loc {
  float: left;
  padding: 0 20px 0 0;
}

.fbloco1 {
  float: left;
  padding: 0 10px 0 0;
  width: 30%;
}

p.footext {
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: block;
  text-align: left;
  padding-left: 10%;
  font-size: 0.9rem;
}

.fbloco2 {
  float: left;
  width: 20%;
}

.fbloco3 {
  float: left;
  width: 20%;
}

.fbloco4 {
  float: left;
  width: 20%;
  color: white;
}

i {
  padding: 3px;
  }

.copyright {
  float: left;
  width: 100%;
  text-align: right;
  color: gray;
}




 /* D I S P O S I T I V O   M O V E L  */

  @media (max-width:575px) {

    body {
      width: 100%;
      margin: 0 auto;
      
    }

    p {
      margin: 2%;
    }

    .head1 {
      margin: 5% 0 5% 0;
    }
   
    .logo {
      width:60%;
    }

    .button1 {
      width: 30%;
      height: 10%;
      font-size: 14px;
      padding-bottom: 3%;
      }
   

     
  .big-header1 {
      width: 100%;
      text-align: center;
      margin: 15% 0 15% 0;
    }

    h4 {
      font-size: 20px;
      padding: 0 7%;
    }

    .button2 {
      width: 80%;
    }

    .big-header2 {
      padding-top: 10%;
    }

    .bigheader-img {
      width: 130%;

    }




    .box1 {
      width: 75%;
      margin-bottom: 3%;
    }


    .card1-one {
    position: relative;
     text-align: center;
     width: 100%;
     top:160px;
     padding: 10% 0;
    }

    .card1-two{
      position: relative;
      right: 10%;
      bottom: 250px;
      width: 100%;
    }

    .box2 {
      width: 75%;
      margin-bottom: 3%;
    }


    .card2-one {
     position: relative;
     text-align: center;
     width: 100%;
     top:140px;
     padding: 10% 0;
    }

    .card2-two{
      position: relative;
      left: 15%;
      bottom: 240px;
      width: 100%;
    }
    
    .box3 {
      width: 75%;
      margin-bottom: 3%;
    }


    .card3-one {
      position: relative;
     text-align: center;
     width: 100%;
     top:150px;
     padding: 10% 0;
    }

    .card3-two{
      position: relative;
      right: 10%;
      bottom: 230px;
      width: 100%;
    }

    .big-box {
      position: relative;
      margin: 0 auto;
      left: 5%;
      width: 80%;
    }

    .footer {
      padding-top: 40%;
    }

    .logofoot {
      width:80%;
      padding: 5% 5%;
    }
   
    .footext {
      padding: 0 0 5% 0; 
    }
  
    .fbloco1 {
      width: 100%;
    }

    .fbloco2 {
      width: 100%;
    }

    .fbloco3 {
      width: 100%;
    }

    .fbloco4 {
      width: 80%;
      text-align: center;
    }

    i {
      padding: 5%;
    }
  
    .copyright {
      width: 100%;
      text-align: center;
      font-size: 0.8rem;
    }
  
  
  }
